{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "rules": {
    "no-underscore-dangle": 0,
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "import/extensions": 0,
    "import/no-unresolved": ["error", { "ignore": ["^#"] }],
    "react/jsx-props-no-spreading": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-curly-newline": 0,
    "jsx-a11y/label-has-associated-control": [
      "error",
      { "controlComponents": ["Input"] }
    ]
  }
}
